#title {
  text-align: center;
  font-family: arial, sans-serif;
  color: #7c8491;
  font-weight: 800;
  font-size: 25px;
}

#students {
  display: inline-table;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 50%;
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: #ddd;}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ba4555;
  color: white;
}
