.personal-form {
  color: #FFFFFF;
  display: inline-grid;
  justify-content: center;
  border: 4px solid silver;
  background: #7c8491;
  border-radius: 4px;
  align-items: center;
  height: 150px;
  margin-top: 45px;
  position: relative;
  width: 55%;
  z-index: 2;
  flex-flow: row wrap;
  padding-bottom: 30px;
}

.desired-temp {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}
